
body{

  #root{
    font-family: 'Inconsolata', monospace;
    color: rgb(255, 244, 244);

    @media screen and (max-width:1024px){
      main{
        min-height: calc(100vh);
      }
  }
    @media screen and (min-width:1024px){
      main{
        min-height: calc(100vh - 5rem);
      }
  }
  main{
    background-image: radial-gradient(#6b6b6b, rgb(6 6 6));
  }
    }
}
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a32d2d;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #be1e1e;
}