#root{
  font-family: 'Inconsolata', monospace;
  color: rgb(255, 244, 244);
  height: 100%;

  .memory-card{
    font-family: 'Playball', cursive;
  }

  .technology{
    font-family: CascadiaCode;
  }
}