@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+NKo+Unjoined:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
html{
    height: 100%;
}
@media screen and (max-width:1024px){
    body{
        height: 100vh;
    }
}
@media screen and (min-width:1024px){
    body{
        height: calc(100vh - 5rem);
    }
}
body{
    background-image: radial-gradient(#343435,rgb(23, 23, 23) );
}